<div class='mainFooterSpacer'></div>
<div class='mainFooter'>
	<div class="logoMark"><i class="fv-leaf"></i></div>
	<div class="pieceB">
		<a href="http://freshvine.co/" target="_blank" class="wordmark"><i class="fv-wordmark"></i></a>
		&copy; 2007-15 | <a href="https://freshvine.co/" target="_blank">FreshVine.co</a> | <a href="/">Documentation</a><br />
		<a href="https://freshvine.io/" target="_blank">Developer Site</a> | <a href="http://status.freshvine.co/" target="_blank">Status</a>
	</div>
</div>
