<div class='header'>
	<div class='left'>
		<div class="toggle-nav">
			<a href="#" class="subnav-link toggle-navigation">
				<i class="ion-navicon" title="show/hide the navigation"></i>
			</a>
		</div>
		<a href="https://docs.freshvine.co">
			<img src="/assets/images/particle-docs.png" id="logo">
		</a>
		<div class="sections">
			<a class="nav {{#contains path.href 'guide'}}active{{/contains}}" href="/guide/getting-started/overview/">Guide</a>
			<a class="nav {{#contains path.href 'developers'}}active{{/contains}}" href="/developers/overview/">developers</a>
		</div>
		<div class="dropdown mobile-only">
			<a id="dLabel" data-target="#" class="nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			{{first-word-in-relative-url path.href}}
				<i class="icon ion-chevron-down"></i>
			</a>
			<ul class="dropdown-menu" aria-labelledby="dLabel">
				<li class="{{#contains path.href 'guide'}}active{{/contains}}"><a href="/guide/getting-started/overview/">Guide</a></li>
				<li class="{{#contains path.href 'developers'}}active{{/contains}}"><a href="/developers/overview/">developers</a></li>
			</ul>
		</div>
	</div>
    <div class="search right">
		<div class="search-input-wrapper">
			<i class="ion-search"></i>
			<input class="search-box" type="text" placeholder="Search" value=""/>
		</div>
		<div class="search-results">
		</div>
    </div>
</div>
