/**************
 * FV Layout Adaptations
 **************/

a.nav.active, a.nav:hover{
	color: #87C549;	// FV Green
}
.menubar li a:hover,
.menubar li a:visited:hover,
ul.in-page-toc li.active a{
	color: #31C0EF;	// FV Blue
}
.menubar li.active.top-level{
	background-color: #F7F7F7;
	color: #404140;
}

body .header .search{
	border-left: none;
	padding: 0 22px;
}