/**************
 * FV Layout Adaptations
 **************/


/* ----------------------------------------------------------------------------
 * Fonts
 */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/Roboto-Thin-webfont.eot');
	src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
		url('../fonts/Roboto-Thin-webfont.ttf')  format('truetype'),
		url('../fonts/Roboto-Thin-webfont.svg##Roboto-Thin-webfont') format('svg');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Roboto-Light-webfont.eot');
	src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light-webfont.woff') format('woff'),
		url('../fonts/Roboto-Light-webfont.ttf')  format('truetype'),
		url('../fonts/Roboto-Light-webfont.svg##Roboto-Light-webfont') format('svg');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/Roboto-LightItalic-webfont.eot');
	src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'),
		url('../fonts/Roboto-LightItalic-webfont.ttf')  format('truetype'),
		url('../fonts/Roboto-LightItalic-webfont.svg##Roboto-LightItalic-webfont') format('svg');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Roboto-Medium-webfont.eot');
	src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
		url('../fonts/Roboto-Medium-webfont.ttf')  format('truetype'),
		url('../fonts/Roboto-Medium-webfont.svg##Roboto-Medium-webfont') format('svg');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	src: url('../fonts/Roboto-MediumItalic-webfont.eot');
	src: url('../fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
		url('../fonts/Roboto-MediumItalic-webfont.ttf')  format('truetype'),
		url('../fonts/Roboto-MediumItalic-webfont.svg##Roboto-MediumItalic-webfont') format('svg');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/RobotoCondensed-Bold-webfont.eot');
	src: url('../fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
		url('../fonts/RobotoCondensed-Bold-webfont.ttf')  format('truetype'),
		url('../fonts/RobotoCondensed-Bold-webfont.svg##RobotoCondensed-Bold-webfont') format('svg');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/RobotoCondensed-BoldItalic-webfont.eot');
	src: url('../fonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
		url('../fonts/RobotoCondensed-BoldItalic-webfont.ttf')  format('truetype'),
		url('../fonts/RobotoCondensed-BoldItalic-webfont.svg##RobotoCondensed-BoldItalic-webfont') format('svg');
}


/* ----------------------------------------------------------------------------
 * Header Design
 */


body .header{
	background-color: #87C549; // FV Green
	border-bottom: none;
}

body #logo{
	height: 32px;
	width: auto;
	margin: 8px 20px 0 10px;
    padding: 0;
}

.toggle-nav{
	margin: 0;
}
body .toggle-nav a{
	color: #ffffff;
	padding: 10px 20px;
}

body .header .left a.nav{
	border-bottom: none;
	color: #ffffff;
    height: 52px;
    line-height: 52px;
    margin: 0;
    min-width: 100px;
	padding: 0 20px;
    text-align: center;
}
body a.nav:hover,
body .dropdown:hover a.nav{
	background: rgba(64, 65, 64, .5);
	color: #ffffff;
}
body a.nav.active,
body .header .dropdown.mobile-only.open a.nav{
	background: #404140;
	color: #ffffff;
}

body .header .dropdown.mobile-only a.nav{
	min-width: 0;
	margin: 0 !important;
	padding: 0 15px;
}
body .header .dropdown.mobile-only a.nav i{
	font-size: 26px;
	margin: 0;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover{
	background: #404140;
	color: #ffffff;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{
	background: rgba(64, 65, 64, .5);
	color: #ffffff;
}

body .header .search{ display: none; }

body .dropdown-menu{
    font-size: 20px;
}

@media (max-width: 768px) {
	body .header .left{
		display: block;
		float: none;
		height: 100%;
		text-align: center;
	}

	body .dropdown{
		position: static;
	}
	body .dropdown-menu{
		border-radius: 0;
	    font-size: 20px;
	    right: 0;
	    left: auto;
	}
	body .header .dropdown.mobile-only{
		float: right;
	}

	body .header .left .logoHolder{
	    margin-right: 0px;
	    float: none;
	}

	body .header .logoHolder #logo{
		float: none;
		margin: 8px 0 0;
	}
}


/* ----------------------------------------------------------------------------
 * Left Menu Bar Design
 */

.menubar{
	background-color: #F7F7F7;
	border-right-color: #F2F2F2;
}
h3.guide-section-titles{
	color: #404140;
}
.menubar li a:hover,
.menubar li a:visited:hover,
ul.in-page-toc li.active a{
	color: #31C0EF;	// FV Blue
}
.menubar li.active.top-level{
	background-color: #F2F2F2;
	color: #404140;
}

body .header .search{
	border-left: none;
	padding: 0 22px;
}

.content-root {
    top: 52px;
}

.content, .content-body{
	min-height: 50%;
}

/* ----------------------------------------------------------------------------
 * Footer Design
 */
.arrow:active, .arrow:active i, .arrow:hover, .arrow:hover i{
    color: #31C0EF;
}

/* ----------------------------------------------------------------------------
 * Footer Design
 */

body .content-wrap{
    min-height: 100%;
    position: relative;
}

.mainFooterSpacer{
	height: 90px;
}
.three-columns .mainFooterSpacer{
	height: 55px;
}

.mainFooter{
	background-color: #EEEEEE;
    margin-top: 30px;
	min-height: 55px;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.mainFooter .logoMark{
    position: absolute;
    right: 5px;
    bottom: 0;
    max-width: 80px;
}

.mainFooter .logoMark{
	background-image: url('/assets/images/fresh-vine-footer-mark.png');
    background-size: auto 100px;
    background-repeat: no-repeat;
    border: none;
    display: inline-block;
    height: 100px;
	
    vertical-align: middle;
	width: 83px;
}

.mainFooter .pieceB{
	margin-right: 90px;

    position: absolute;
    bottom: 0;
    right: 0;
}



/* ----------------------------------------------------------------------------
 * Print Adjustments - Making it super pretty
 */
@media print
{
	#docs, body, html{
		height: auto;
	    overflow-y: visible;
		position: static !important;
	    width: auto;
	}

	body .header .toggle-nav,
	body .header .dropdown,
	body .header .search,
	body .menubar.menu-hidden,
	body .menubar.menu-visible,
	body .mobile-arrows,
	body .desktop-arrows,
	body .mainFooterSpacer{
		display: none !important;
		left: 0 !important;
        transform: none;
	        -moz-transform: none;
	        -o-transform: none;
	        -ms-transform: none;
	        -webkit-transform: none;
	}	

	body .header,
	body .content-root,
	body .content-inner,
	body .page-body{
		position: static !important;
		overflow-y: visible !important;
		overflow-x: visible !important;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
	    width: auto;
	}

	body .header .left{
		display: block;
		float: none;
		height: 100%;
		text-align: center;
	}
	body .header .left .logoHolder{
	    margin-right: 0px;
	    float: none;
	}
	
	body .content,
	body .content-body,{
		max-width: none;
		padding-bottom: 0 !important;
		position: static !important;
	    width: auto;
	}

	body #docs .page-body
	body #docs .page-body.menu-hidden,
	body #docs .page-body.menu-visible,{
		left: 0 !important;
	}

	html.two-columns .content{
	    // padding: 0 !important;
		margin: 0 !important;
	}
	

	body .mainFooter{
		background: none;
		min-height: auto;
		position: static;
	    width: 100%;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
	}
	body .mainFooter .logoMark{ display: none; }
	body .mainFooter .pieceB{
		display: block;
		position: static;
		text-align: center;
		margin-right: 0;

		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
	    width: 100%;
	}
}



/* ----------------------------------------------------------------------------
 * Landing Page
 */
.start-page .content{
    margin: 0 auto;
}
.start-page .toggle-nav,
.error404 .toggle-nav{ display: none; }
.start-page .header .left,
.error404 .header .left{ padding-left: 0px; }

.mega-header{
	background: #fff url('/assets/images/fresh-vine-plaid-background.png') repeat;
    background-size: 20%;
	min-height: 200px;
	height: 300px;
	text-align: center;
}
.vCenterParent{
	    -webkit-transform-style: preserve-3d;
	    -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	    -o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.vCenter{
    position: relative;
    top: 50%;
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mega-header h1{
	// color: #ffffff;
    font-size: 102px;
    line-height: .8em;
}
.mega-header .subtitle{
	color: #404140;
	font-size: 34px;
	font-weight: 100;
}

/* ----------------------------------------------------------------------------
 * Table of Contents - Landing Page
 */
.toc .tocHeader{
	font-size: 3em;
    font-weight: 300;
    line-height: .8em;
}
.toc .tocSubtitle{
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    line-height: 1.2em;
    padding-top: 10px;
}
.content .toc ul{
	padding: 0;
	margin: 0;
}
.content .toc ul > li{
    list-style: none;
}
.content .toc ul>li>h3{
    color: #B0B0B0;
    font-size: 2em;
    font-style: italic;
    padding-bottom: 0;
    padding-top: 35px;
    line-height: .8em;
}
.content .toc ul>li>h3:after{
    height: 0;
    background: none;
    position: absolute;
    width: auto;
    bottom: 0;
	left: 0;
}

.content .toc ul>li ol{
	padding: 0;
	margin-left: 60px;
}
.content .toc ul>li ol>li{
	color: #404140;
	font-size: 18px;
	font-weight: 500;
}
.content .toc ul>li ol>li a{
	display: block;
	border: 1px solid #f2f2f2;
	background-color: #F7F7F7;
	font-weight: 300;
    padding-left: 40px;
    margin-left: -40px;
}

.content .toc ul>li ol>li a:hover{
    background-color: #00adef;
    color: white;
}

@media (max-width: 767px) {
	.content .toc:first-child>ul{
		margin-bottom: 50px;
	}
}


/* ----------------------------------------------------------------------------
 * 404 Error Page
 */
.error404 .content-wrap{
	background: #fff url('/assets/images/fresh-vine-plaid-background.png') repeat;
    background-size: 20%;
	text-align: center;
}
.error404 .vCenterParent{
	height: 500px;
}
.error404 .page h1{
	font-size: 102px;
	text-align: center;
    line-height: .8em;
}
// .error404 .page-content{
// 	max-width: 7
// }
.error404 .mainFooterSpacer{
	height: 50px;
}


/* ----------------------------------------------------------------------------
 * Basic Grid System
 */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}


@media (min-width: 1200px) {
    .row-fluid {
      width: 100%;
      *zoom: 1;
    }
    .row-fluid:before,
    .row-fluid:after {
      display: table;
      line-height: 0;
      content: "";
    }
    .row-fluid:after {
      clear: both;
    }
    .row-fluid [class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 30px;
      margin-left: 2.564102564102564%;
      *margin-left: 2.5109110747408616%;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
    .row-fluid [class*="span"]:first-child {
      margin-left: 0;
    }
    .row-fluid .controls-row [class*="span"] + [class*="span"] {
      margin-left: 2.564102564102564%;
    }
    .row-fluid .span6 {
      width: 48.717948717948715%;
      *width: 48.664757228587014%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .row-fluid {
      width: 100%;
      *zoom: 1;
    }
    .row-fluid:before,
    .row-fluid:after {
      display: table;
      line-height: 0;
      content: "";
    }
    .row-fluid:after {
      clear: both;
    }
    .row-fluid [class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 30px;
      margin-left: 2.7624309392265194%;
      *margin-left: 2.709239449864817%;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
    .row-fluid [class*="span"]:first-child {
      margin-left: 0;
    }
    .row-fluid .controls-row [class*="span"] + [class*="span"] {
      margin-left: 2.7624309392265194%;
    }
    .row-fluid .span6 {
      width: 48.61878453038674%;
      *width: 48.56559304102504%;
    }
}
@media (max-width: 767px) {
    .row-fluid {
      width: 100%;
    }
    [class*="span"],
    .row-fluid [class*="span"] {
      display: block;
      float: none;
      width: 100%;
      margin-left: 0;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
}