/**************
 * FV Layout Adaptations
 **************/


/* ----------------------------------------------------------------------------
 * Fonts
 */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/Roboto-Thin-webfont.eot');
	src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
		url('../fonts/Roboto-Thin-webfont.ttf')  format('truetype'),
		url('../fonts/Roboto-Thin-webfont.svg##Roboto-Thin-webfont') format('svg');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Roboto-Light-webfont.eot');
	src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light-webfont.woff') format('woff'),
		url('../fonts/Roboto-Light-webfont.ttf')  format('truetype'),
		url('../fonts/Roboto-Light-webfont.svg##Roboto-Light-webfont') format('svg');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/Roboto-LightItalic-webfont.eot');
	src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'),
		url('../fonts/Roboto-LightItalic-webfont.ttf')  format('truetype'),
		url('../fonts/Roboto-LightItalic-webfont.svg##Roboto-LightItalic-webfont') format('svg');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Roboto-Medium-webfont.eot');
	src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
		url('../fonts/Roboto-Medium-webfont.ttf')  format('truetype'),
		url('../fonts/Roboto-Medium-webfont.svg##Roboto-Medium-webfont') format('svg');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	src: url('../fonts/Roboto-MediumItalic-webfont.eot');
	src: url('../fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
		url('../fonts/Roboto-MediumItalic-webfont.ttf')  format('truetype'),
		url('../fonts/Roboto-MediumItalic-webfont.svg##Roboto-MediumItalic-webfont') format('svg');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/RobotoCondensed-Bold-webfont.eot');
	src: url('../fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
		url('../fonts/RobotoCondensed-Bold-webfont.ttf')  format('truetype'),
		url('../fonts/RobotoCondensed-Bold-webfont.svg##RobotoCondensed-Bold-webfont') format('svg');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/RobotoCondensed-BoldItalic-webfont.eot');
	src: url('../fonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
		url('../fonts/RobotoCondensed-BoldItalic-webfont.ttf')  format('truetype'),
		url('../fonts/RobotoCondensed-BoldItalic-webfont.svg##RobotoCondensed-BoldItalic-webfont') format('svg');
}


/* ----------------------------------------------------------------------------
 * Header Design
 */


body .header{
	background-color: #87C549; // FV Green
	border-bottom: none;
}

body #logo{
	height: 32px;
	width: auto;
	margin: 8px 20px 0 10px;
    padding: 0;
}

.toggle-nav{
	margin: 0;
}
body .toggle-nav a{
	color: #ffffff;
	padding: 10px 20px;
}

body .header .left a.nav{
	border-bottom: none;
	color: #ffffff;
    height: 52px;
    line-height: 52px;
    margin: 0;
    min-width: 100px;
	padding: 0 20px;
    text-align: center;
}
body a.nav:hover,
body .dropdown:hover a.nav{
	background: rgba(64, 65, 64, .5);
	color: #ffffff;
}
body a.nav.active,
body .header .dropdown.mobile-only.open a.nav{
	background: #404140;
	color: #ffffff;
}

body .header .dropdown.mobile-only a.nav{
	min-width: 0;
	margin: 0 !important;
	padding: 0 15px;
}
body .header .dropdown.mobile-only a.nav i{
	font-size: 26px;
	margin: 0;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover{
	background: #404140;
	color: #ffffff;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{
	background: rgba(64, 65, 64, .5);
	color: #ffffff;
}

body .dropdown-menu{
    font-size: 20px;
}

@media (max-width: 768px) {
	body .header .left{
		display: block;
		float: none;
		height: 100%;
		text-align: center;
	}

	body .dropdown{
		position: static;
	}
	body .dropdown-menu{
		border-radius: 0;
	    font-size: 20px;
	    right: 0;
	    left: auto;
	}
	body .header .dropdown.mobile-only{
		float: right;
	}

	body .header .left .logoHolder{
	    margin-right: 0px;
	    float: none;
	}

	body .header .logoHolder #logo{
		float: none;
		margin: 8px 0 0;
	}
}
@media (max-width: 1200px ){

}


/* ----------------------------------------------------------------------------
 * Left Menu Bar Design
 */

.menubar{
	background-color: #F7F7F7;
	border-right-color: #F2F2F2;
}
h3.guide-section-titles{
	color: #404140;
}
.menubar li a:hover,
.menubar li a:visited:hover,
ul.in-page-toc li.active a{
	color: #31C0EF;	// FV Blue
}
.menubar li.active.top-level{
	background-color: #F2F2F2;
	color: #404140;
}

body .header .search{
	border-left: none;
	padding: 0 22px;
}

.content-root {
    top: 52px;
}

.content, .content-body{
	min-height: 50%;
}


/* ----------------------------------------------------------------------------
 * Footer Design
 */

body .content-inner{
    min-height: 100%;
    position: relative;
}

.mainFooterSpacer{
	height: 90px;
}

.mainFooter{
	background-color: #EEEEEE;
    margin-top: 30px;
	min-height: 55px;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.mainFooter .logoMark{
    position: absolute;
    right: 5px;
    bottom: 0;
    max-width: 80px;
}

.mainFooter .logoMark{
	background-image: url('/assets/images/fresh-vine-footer-mark.png');
    background-size: auto 100px;
    background-repeat: no-repeat;
    border: none;
    display: inline-block;
    height: 100px;
	
    vertical-align: middle;
	width: 83px;
}

.mainFooter .pieceB{
	margin-right: 90px;

    position: absolute;
    bottom: 0;
    right: 0;
}